.collapsible-list {
  li {
    &.show-subcategories {
      color: #67a961;

      .subcategories {
        /*max-height: 500px;*/
      }
    }
  }

  .subcategories {
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
  }
}
