input:checked + label.lofi {
  border-color: #67a961;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  .ptag {
    @apply bg-green-200 text-[#67a961];
  }

  .tag {
    background-color: #67a961 !important;
    color: #fff !important;
  }
}
