MONGODB_URI=
OLD_PLATFORM_MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES=

ENABLE_EMAIL=true
SEND_GRID_KEY=
SENDGRID_SENDER=
SEND_GRID_WELCOME_TEMPLATE_ID=
SEND_GRID_CALLBACK_TEMPLATE_ID=
SEND_GRID_SECURITY_TEMPLATE_ID=
SEND_GRID_EXPIRATION_TEMPLATE_ID=
SEND_GRID_EXPIRED_TEMPLATE_ID=
SEND_GRID_PROMOTION_TEMPLATE_ID=

ENABLE_SMS=true
TWILIO_ACCOUNT_SID=
TWILIO_VERIFY_SID=
TWILIO_AUTH_TOKEN=

STORAGE_KEY=
STORAGE_SECRET=
STORAGE_NAME=
STORAGE_ENDPOINT=
STORAGE_REGION=
STORAGE_CDN=

PAYSTACK_SECRET_KEY=

PLANS=[{"days":7,"price":2000,"type":"starter"},{"days":14,"price":20000,"type":"professional"},{"days":21,"price":200000,"type":"premium"}]